body{

  margin:1px;
  background-image: url(../html1/photo-1496297485239-4265d2ba2105.jpg);
    background-color: #cccccc;

}


#header{
background-color:;
margin:0px;
height:30px;
border-radius:5px;
border:1px #CCFF66;
text-align:center;


}

.sideleft{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:375px;
color:white;
border-style: outset;
height:1038.5px;

}
img{
width:300px;
height:350px;
border:1px solid #ddd;
border-radius:35%;
}

h2{
color:white;

}

.sideleft1{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:910px;
color:white;
border-style: double;
height:px;
}

table, th, td {
   border: 1px solid blue;
   background-color:;
   color:#FFFFFF;
}


#sideleft2{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:910px;
background-color:rgba(0, 255, 0, 0.5);
color:white;
border-style: double;
list-style-type: circle;
display:inline;
}




.sideleft3{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:px;
background-color: ;
color:white;
border-style: double;
border-color:#000066;
}

.sideleft4{
width:320px;
margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:910px;
color: #FFFFFF;
border-style: double;
}
#sideleft3{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:280px;
background-color: ;
color:white;
border-style: double;
height:187;
border-color:#0000CC;

}


#sideleft4{

margin:0px;
border-radius:5px;
padding:10px;
font-size:120%;
float:left;
width:1500px;
background-color:rgba(0, 255, 0, 0.5);
color:white;
border-style: double;

}
