/* External CSS file*/

h1 {
    font-size: 40px;
}
h2 {
  color: Purple;
}
h3 {
  color: blue;
}
html{
  background:url('20160328_071905.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.content{
  color:white;
  padding:0px;
}
/* Combination Example: Group Selectors */
.blueText {
  color: blue;
}

#uniqueGreen {
  color: green;
}
span, .lightText {
  font-weight: 200;
  color: white;
}


/* Combination Example: Element with class */

p.main {
  color: purple;
}


/* Combination Example: Child Selector */

article>p {
  color: red
}


/* Combination Example: Descendant Selector */

.desc p {
  color: green;
}


/* Pseudo Class Example */

/*  margin-top: 15px;
  width: 200px;
  height: 200px;
  background-color: yellow;
}

.pseudoClassExample:hover {
  background-color: orange;
  color: white;
}*/
